<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sistema_pdvsa/public/

    # Handle root
    RewriteRule ^$ index.php [L]

    # Redirect all non-file, non-directory requests to front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
